html, body{
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2b29;
}

.navigation {
    margin-left: -60px;
    text-decoration: none;
    background-color: #ec7607;
    color: white;
    list-style: none;
    margin-top: 0;
    
    
    
}

.imagemPrincipal{
    margin-left: 80px;
}

.capa {
    color: white;
    display: flex;
    
}

.imagem-quadrada
{
    margin-top: 3px;
    margin-left: 60px;
}

.imagem-redonda{
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 50px;


}

.capa span {
    color: #f27609;
    display: block;
    
}

header{
    background-color: #2b2b29;
    padding: 0%;
    text-align: center;
    
    font-size: 110%;
    color:white;
    display: flex;
}

a{
    color:white;
}

.clique-aqui{
    color: #f27609;
}

.quando-clicado{
    color: #f27609;
}

.navigation ul{
    transition: color 0.3s;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    list-style: none;
    margin-top: 0;
    padding: 0;
    height: 56px;
    margin-left: 900px;
    color: white;
    cursor: pointer;

}

.navigation li{
    transition: color 0.3s;
    text-decoration: none;
    display: inline-block;
    padding-right: 30px;
    line-height: 56px;
}

.h1p{
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-size: 47px;
}

.h2p{
    color: #fa7203;
    font-family: 'Montserrat',sans-serif;
    font-size: 47px;
}

.h3p{
    color: #708090;
    font-family: 'Montserrat',sans-serif;
    font-size: 21px;
}

.h4p{
    font-family: 'Montserrat',sans-serif;
    font-size: 28px;
    color: white;
    margin-left: 120px;
    margin-top: -60px;
}

.h5p{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    color: white;
    margin-left: 120px;
    margin-top: 65px;
}

.h6p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin-left: 120px;
    margin-top: 0px;
}

.nome{
    display: block;
    width: 100%;
    margin-left: 480px;
    margin-top: -290px;

}

.h7p{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    color: #fa7203;
    margin-left: 490px;
    margin-top: -345px;
}

.h8p{
     font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 490px;
    margin-top: 18px;
}

.h9p{
     font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: #fa7203;
    margin-left: 490px;
    margin-top: 20px;
}
.h10p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 490px;
    margin-top: 18px;
}
.h11p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: #fa7203;
    margin-left: 490px;
    margin-top: 18px;
}
.h12p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 490px;
    margin-top: 18px;
}
.h13p{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    color: #fa7203;
    margin-left: 120px;
    margin-top: 80px;
}

.h14p{
    font-family: 'Montserrat',sans-serif;
   font-size: 20px;
   color: white;
   margin-left: 120px;
   margin-top: 18px;
}
.h41p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: #fa7203;
    margin-left: 120px;
    margin-top: 18px;
}

.h40p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 120px;
    margin-top: 18px;
}

.h42p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 500px;
    margin-top: -40px;
}

.h43p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 320px;
    margin-top: -39px;
}
.h44p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 120px;
    margin-top: 50px;
}


.h15p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin-left: 120px;
    margin-top: 0px;
}

.h16p{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    color: white;
    margin-left: 120px;
    margin-top: 45px;
}

.h17p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 120px;
    margin-top: 18px
}

.container {
    text-align: justify;
    margin:  10 auto; /* Define margens iguais nas laterais (centralizado) */
    width: 85%; /* Define a largura da área de conteúdo */
}

a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}


.b{
    font-family: Arial, Helvetica, sans-serif;
    size: 15px;
    text-decoration: none;
    color: white;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 10px;
}
b:hover{
    background-color: dodgerblue;
}

.dd{
    font-family: Arial, Helvetica, sans-serif;
    size: 15px;
    text-decoration: none;
    color: black;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 10px;
}
dd:hover{
    background-color: dodgerblue;
}

.main {
    padding: 40px 180px 80px 100px;

    /*padding-top: 40px;
    padding-right: 180px;
    padding-bottom: 80px;
    padding-left: 100px;*/
}

.caminho {
    list-style: none;
    color: grey;
    padding-left: 0;
}

.caminho li {
    margin-left: 10px;
    display: inline-block;
}

.caminho a {
    color: gray;
}